* {
	scroll-behavior: smooth
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	color: #474c48
}

header {
	background: #eeaeca;
	background: radial-gradient(circle, rgba(238, 174, 202, 1) 0, rgba(148, 187, 233, 1) 100%);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right top;
	height: 100vh;
	margin: 10px
}

a{ text-decoration: none; color:#2d3436; }
a:hover { text-decoration: none; color:#2d3436; }
a:focus { text-decoration: none; color:#2d3436; }
a:active { text-decoration: none; color:#2d3436; }

h1{ 
	font-family: 'Amiri', serif;
}

.wrapper {
	width: 90%;
	margin: 0 auto
}

nav {
	display: flex;
	justify-content: space-between;
	padding-top: 20px
}

.navbar ul {
	display: flex;
	justify-content: space-between;
	width: 450px
}

.navbar ul li {
	list-style: none
}

.navbar ul li a {
	text-decoration: none;
	color: #474c48;
	font-size: 1.25rem;
	letter-spacing: .25rem
}

.navbar ul li:last-child {
	border: 2px solid #474c48;
	padding: 10px;
	position: relative;
	top: -15px
}

.logo {
	font-size: 1.5rem;
	position: relative;
	top: -20px
}

.logo h1 {
	color: #f2f4ff
}

.profile_container {
	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-gap: 3%;
	align-content: end;
	width: 100%;
	height: 50vh;
	line-height: .1
}

.profile_container h1 {
	font-size: 7rem;
	letter-spacing: .25rem
}

.profile_container h2 {
	font-size: 1.5rem;
	font-weight: 400
}

.dp {
	justify-self: end;
	width: 320px;
	height: 320px;
	background-image: url(../img/profile-pic.png);
	background-size: cover;
	border-radius: 50%
}

.name {
	margin-top: 70px;
	color: #fff
}

.name h1 {
	font-size: 4rem;
	font-weight: 700
}

.name p {
	font-size: 2rem;
	font-weight: 700
}

.bigbar {
	display: inline-block;
	height: 3px;
	width: 70px;
	background-color: #fff;
	margin-top: 5px
}

.arrowdiv {
	margin: 0 auto;
	max-width: 1px;
	padding-top: 10%;
	height: 1px;
	cursor: pointer
}

.fa-angle-double-down {
	position: relative;
	color: #fff;
	align-content: center
}

.down {
	transition: none 0s ease 0s
}

.about {
	display: grid;
	grid-template-columns: 1fr 1fr
}

.about img {
	width: 100%;
	height: 600px;
	padding-left: 10%;
	padding-top: 10%
}

.about_text {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	width: 60%;
	text-align: justify;
	justify-content: center;
	position: relative
}

.about_text h1 {
	font-weight: 400;
	font-size: 1.75rem
}

.about_text p {
	font-weight: 100
}

.about_bar {
	display: inline-block;
	height: 2px;
	width: 50px;
	background-color: #474c48;
	margin-bottom: 40px
}

.footer {
	margin: 40px 0
}

.footwrapper {
	width: 90%;
	margin: 0 auto
}

.footer .footwrapper {
	display: flex;
	justify-content: space-between
}

.icons {
	margin-top: 20px
}

.icons a {
	font-size: 2.2rem;
	color: #34495e
}

.icons a:hover {
	transition: all .2s ease-in-out
}

.icons a:hover>.fa-facebook {
	color: #3b5998
}

.icons a:hover>.fa-twitter {
	color: #00aced
}

.icons a:hover>.fa-linkedin {
	color: #007bb6
}

.icons a:hover>.fa-github {
	color: #000
}

.footer_nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	width: 350px
}

.footer_nav ul li {
    color: #2d3436;
	font-size: 1rem;
	font-weight: 550;
	letter-spacing: .1rem
}

.menu{
    height: 105px;
    background-color: #2d3436;
}

.divider {
    padding-left: 4.125rem;
    padding-right: 4.125rem;
    margin-right: auto;
    margin-left: auto;
	padding-bottom: 10px;
}

.line {
    margin-left: 5.125rem;
    margin-right: 5.125rem;
	display: block;
    clear: both;
    height: 1px;
    background-color: #000;
	margin-bottom: 5vh;

}

.myname{
    background-color: #ffffff;
    padding-bottom: 1vh;
    padding-top: 1.5vh;
    background-size: cover;
    height: 100px;
}
.myname h1 {
    margin: inherit;
    color: rgb(0, 0, 0);
    font-size: 4rem;
	text-align: center;
}
.r1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.r1c1 { grid-area: 1 / 1 / 2 / 2; 
    background-color: #1e3799;
	padding-top:10%
}
.r1c1 h2 {
        display: block;
        font-size: 1.2em;
        margin-block-end: 0em;
        font-family: 'Roboto Mono', monospace;
    }

.r1c1 blockquote {
    margin-block-end: 0em;
    color: #fff;
}
.r1c1 figcaption{
    position: relative;
    text-align: right;
    color: #fff;
    padding-right:15%;
    padding-bottom: 5%;
}
.r1c2 { grid-area: 1 / 2 / 2 / 3; 
    padding: 2%;
    background-color: #007bb6;
}
.r1c2 h2 {
	color: #fff;
}
.r1c2 li {
	color: #fff;
	font-size: 1.1rem;
}
.r1c2 a {
	color: #fff;
}

@media screen and (max-width:768px) {
	body {
		overflow-x: hidden
	}

	header {
		background-position: center
	}

	.profile_container {
		height: 85vh
	}

	.profile_container h1 {
		font-size: 4rem
	}

	.about {
		grid-template-columns: 1fr
	}

	.about_text {
		margin-top: 70px;
		width: 90%
	}

	.footer .footwrapper {
		text-align: center;
		flex-direction: column
	}

	.footer_nav {
		order: 1
	}

	.icons {
		order: 2
	}

	.footer_nav ul {
		flex-direction: column;
		line-height: 3rem
	}

	.hamburger {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		position: absolute;
		z-index: 10;
		right: 5%;
		top: 5%;
		cursor: pointer
	}

	.hamburger .bar_1,
	.hamburger .bar_2 {
		display: inline-block;
		height: 5px;
		width: 30px;
		background-color: #474c48;
		margin-bottom: 5px;
		border-radius: 5px
	}

	.wrapper {
		position: absolute;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		background-color: #474c48;
		height: 100vh;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		clip-path: circle(100px at 90% -17%);
		-webkit-clip-path: circle(100px at 90% -17%);
		transition: all 1s ease-out
	}

	.wrapper.open {
		clip-path: circle(1000px at 90% -17%);
		-webkit-clip-path: circle(1000px at 90% -17%)
	}

	.logo {
		color: #e1e6e0;
		height: 10vh;
		font-size: 1.75rem;
		margin-left: 35px
	}

	.navbar ul li a {
		color: #e1e6e0
	}

	.navbar ul {
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: 70vh
	}

	.navbar ul li:last-child {
		border: 2px solid #e1e6e0
	}
}